.chat_container {
  width: 100%;
  max-width: 1200px;
  background: #f5fbff;
  min-height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5% auto;
  padding: 40px;
  box-sizing: border-box;
}



@media screen and (max-width: 1440px) {
  .chat_container {
    width: 80%;
  }
}

@media screen and (max-width: 1152px) {
  .chat_container {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 767px) {

}